


<style>

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body{
 background: -webkit-linear-gradient(to right, #642b73, #c6426e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #642b73, #c6426e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

img #logo{
  margin-top: 20px;
}

 </style>







<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">   <img src="https://www.dropbox.com/s/in6kejznwvvl6rw/800px-RiotGamesLogo.png?raw=1" height="120px" width="250px" id="logo">      </h1>
        <p class="lead">Connected Via Riot API </p>
        <p> Project by Edgardo Medina  </p>

        <p> *Not affiliated with Riot Games  </p>
      </div>
    </div>
  </div>
</header>





<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Leauge of Legends Summoner Search</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Summoner name Here">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>